
// @import "~bootstrap/scss/bootstrap";

@import './partials/header';
@import './partials/footer';
@import './partials/comic';



body {
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 70%;
    margin: 0 auto;
    padding: 0 1em;
}

.comic-details{
    color: white;
    width: 40%;
    margin: 1em auto;
    padding: 0 2em;

    .comic_cover{
        width: fit-content;
        margin: 1em auto;
    }

    p{
        margin: 1.5em 0;
    }
}

.comic-form{

    color: white;

    input, button, textarea{
        font-size: 16px;
        padding: 0.5em 1.5em;
        margin: 1.5em auto;
        border-radius: 0.5em;
        display: block;
        width: 30%;
        border: none;
    }

    button{
        width: 5%;
        background-color: rgb(12 124 236);
        color: white;
    }
}

.edit{
    width: 70%;
    margin: 0em auto;
    text-align: right;
    padding-top: 4em;

    .button{
        font-size: 16px;
        padding: 0.5em 1.5em;
        border: none;
        margin-left: 1em;
        background-color: darkgray;
    }

    form{
        display: inline-block;

        .delate-button{
            background-color: darkred;
            color: white;
        }
    }
}

